@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-9">Welcome Joseph pogi</h1>
    <table class="table table-striped">
        <thead>
            <th>Joseph</th>
            <th>Joseph</th>
            <th>Joseph</th>
            <th>Joseph</th>
            <th>Joseph</th>
            <th>Joseph</th>
            <th>Joseph</th>

        </thead>
    </table>


</div>
